{
    "presets": [
        ["env", {
          "targets": {
            "node": "current"
          }
        }],
        "stage-2",
        "react"
    ],
    "plugins": [
        "syntax-dynamic-import"
    ]
}
